exportClasses(guiWidgetsToolkittcltk)
exportClasses(List)
import(gWidgets2)
S3method(.addStockIcons,guiWidgetsToolkittcltk)
S3method(.gaction,guiWidgetsToolkittcltk)
S3method(.gbutton,guiWidgetsToolkittcltk)
S3method(.gcheckbox,guiWidgetsToolkittcltk)
S3method(.gcheckboxgroup,guiWidgetsToolkittcltk)
S3method(.gcombobox,guiWidgetsToolkittcltk)
S3method(.gedit,guiWidgetsToolkittcltk)
S3method(.getStockIconByName,guiWidgetsToolkittcltk)
S3method(.getStockIcons,guiWidgetsToolkittcltk)
S3method(.gexpandgroup,guiWidgetsToolkittcltk)
S3method(.gframe,guiWidgetsToolkittcltk)
S3method(.ggroup,guiWidgetsToolkittcltk)
S3method(.glabel,guiWidgetsToolkittcltk)
S3method(.gnotebook,guiWidgetsToolkittcltk)
S3method(.gpanedgroup,guiWidgetsToolkittcltk)
S3method(.gradio,guiWidgetsToolkittcltk)
S3method(.gslider,guiWidgetsToolkittcltk)
S3method(.gspinbutton,guiWidgetsToolkittcltk)
S3method(.gstackwidget,guiWidgetsToolkittcltk)
S3method(.gstatusbar,guiWidgetsToolkittcltk)
S3method(.gtimer,guiWidgetsToolkittcltk)
S3method(.gwindow,guiWidgetsToolkittcltk)
S3method(.stockIconFromObject,guiWidgetsToolkitRGtk2)
