S3method(.addStockIcons,guiWidgetsToolkittcltk)
S3method(.gaction,guiWidgetsToolkittcltk)
S3method(.galert,guiWidgetsToolkittcltk)
S3method(.gbasicdialog,guiWidgetsToolkittcltk)
S3method(.gbutton,guiWidgetsToolkittcltk)
S3method(.gcalendar,guiWidgetsToolkittcltk)
S3method(.gcheckbox,guiWidgetsToolkittcltk)
S3method(.gcheckboxgroup,guiWidgetsToolkittcltk)
S3method(.gcombobox,guiWidgetsToolkittcltk)
S3method(.gconfirm,guiWidgetsToolkittcltk)
S3method(.gdf,guiWidgetsToolkittcltk)
S3method(.gedit,guiWidgetsToolkittcltk)
S3method(.getStockIconByName,guiWidgetsToolkittcltk)
S3method(.getStockIcons,guiWidgetsToolkittcltk)
S3method(.gexpandgroup,guiWidgetsToolkittcltk)
S3method(.gfile,guiWidgetsToolkittcltk)
S3method(.gfilebrowse,guiWidgetsToolkittcltk)
S3method(.gformlayout,guiWidgetsToolkittcltk)
S3method(.gframe,guiWidgetsToolkittcltk)
S3method(.ggroup,guiWidgetsToolkittcltk)
S3method(.gimage,guiWidgetsToolkittcltk)
S3method(.ginput,guiWidgetsToolkittcltk)
S3method(.glabel,guiWidgetsToolkittcltk)
S3method(.glayout,guiWidgetsToolkittcltk)
S3method(.gmenu,guiWidgetsToolkittcltk)
S3method(.gmessage,guiWidgetsToolkittcltk)
S3method(.gnotebook,guiWidgetsToolkittcltk)
S3method(.gpanedgroup,guiWidgetsToolkittcltk)
S3method(.gprogressbar,guiWidgetsToolkittcltk)
S3method(.gradio,guiWidgetsToolkittcltk)
S3method(.gseparator,guiWidgetsToolkittcltk)
S3method(.gslider,guiWidgetsToolkittcltk)
S3method(.gspinbutton,guiWidgetsToolkittcltk)
S3method(.gstackwidget,guiWidgetsToolkittcltk)
S3method(.gstatusbar,guiWidgetsToolkittcltk)
S3method(.gtable,guiWidgetsToolkittcltk)
S3method(.gtext,guiWidgetsToolkittcltk)
S3method(.gtimer,guiWidgetsToolkittcltk)
S3method(.gtoolbar,guiWidgetsToolkittcltk)
S3method(.gtree,guiWidgetsToolkittcltk)
S3method(.gvarbrowser,guiWidgetsToolkittcltk)
S3method(.gwindow,guiWidgetsToolkittcltk)
S3method(.stockIconFromObject,guiWidgetsToolkittcltk)
S3method(getWidget,tkwin)
S3method(gwidgets2_tcltk_column_alignment,default)
S3method(gwidgets2_tcltk_column_alignment,logical)
S3method(gwidgets2_tcltk_column_alignment,numeric)
S3method(gwidgets2_tcltk_format_to_char,Date)
S3method(gwidgets2_tcltk_format_to_char,data.frame)
S3method(gwidgets2_tcltk_format_to_char,default)
S3method(gwidgets2_tcltk_format_to_char,factor)
S3method(gwidgets2_tcltk_format_to_char,integer)
S3method(gwidgets2_tcltk_format_to_char,numeric)
export(gwidgets2_tcltk_column_alignment)
export(gwidgets2_tcltk_format_to_char)
exportClasses(List)
exportClasses(guiWidgetsToolkittcltk)
import(digest)
import(gWidgets2)
import(memoise)
import(methods)
